<link rel="stylesheet" href="footer.css">

<footer>
    <div class="col">
        <img src="logo-lab.png">
    </div>
    <div class="col">
        <h2>Enlaces</h2>
        <a href="#inicio">Inicio</a>
        <a href="#quienes-somos">Quienes Somos</a>
        <a href="#cotizador">Cotizar</a>
        <a href="#horario">Horarios</a>
        <a href="#contact-form">Contacto</a>
        <a href="#articulos">Artículos</a>
    </div>
</footer>