<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Problemas de Próstata: Síntomas y Exámenes de Diagnóstico</title>
	<meta charset="UTF-8">
	<meta name="description" content="Aprende acerca de los síntomas y exámenes de diagnóstico de problemas de próstata en este artículo.">
    <script src="https://kit.fontawesome.com/50233981bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../article.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCZZ9VME3V"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QCZZ9VME3V');
    </script>
</head>
<body>
    <nav>
        <div id="toggler">
            <i class="fa-solid fa-toggle-on"></i>
        </div>                     
        <div class="logo-container">
            <a href="/">
                <img src="../../logo-lab.png" alt="">
            </a>
        </div>
        <ul id="nav-list">
            <li><a href="/" data-value="main">Inicio</a></li>
            <li><a href="/#quienes-somos" data-value="quienes-somos">Quienes Somos</a></li>
            <li><a href="/#horario" data-value="horario">Horarios</a></li>
            <li><a href="/#cotizador" data-value="cotizador">Cotizar</a></li>
            <li><a href="/#contact-form" data-value="contact-form">Contacto</a></li>
            <li><a href="/#articulos">Artículos</a></li>
          <!-- <li><a href="#">Ofertas</a></li>  -->
        </ul>
        <div id="quotation">
            <i class="fa-regular fa-envelope"></i>
            <div id="counter">0</div>
        </div>
    </nav>

    <div id="image-wrapper">
        <img src="../../images/web/prostata.jpg" alt="">
        <div class="article-header-container">
            <h1>Problemas de Próstata: Síntomas y Exámenes de Diagnóstico</h1>
        </div>
    </div>
    <div id="text-wrapper">
        <p>La próstata es una glándula masculina que se encuentra debajo de la vejiga y alrededor de la uretra. Es responsable de producir el líquido que forma parte del semen y ayuda a la movilidad de los espermatozoides. A medida que los hombres envejecen, la próstata puede agrandarse y causar problemas de salud. En este artículo, vamos a explorar los síntomas de problemas de próstata y los exámenes de diagnóstico disponibles.</p>
        <h2>Síntomas de Problemas de Próstata</h2>
        <p>Hay varios síntomas comunes que pueden indicar problemas de próstata. Los siguientes son los síntomas más frecuentes:</p>
        <ol>
            <li>
                <h3>Dificultad para orinar</h3>
                <p>Si experimentas dificultad para orinar, como un flujo de orina débil o intermitente, esto puede ser un signo de problemas de próstata. A medida que la próstata crece, puede ejercer presión sobre la uretra, lo que puede dificultar el vaciado de la vejiga.</p>
            </li>
            <li>
                <h3>Necesidad frecuente de orinar</h3>
                <p>Si necesitas orinar con más frecuencia, especialmente durante la noche, esto puede ser un signo de problemas de próstata. La necesidad frecuente de orinar puede ser el resultado de una próstata agrandada que ejerce presión sobre la vejiga.</p>
            </li>
            <li>
                <h3>Flujo de orina lento o entrecortado</h3>
                <p>Si tu flujo de orina es lento o entrecortado, esto también puede ser un signo de problemas de próstata. La próstata agrandada puede obstruir el flujo de orina, lo que puede causar un flujo de orina lento o entrecortado.</p>
            </li>
            <li>
                <h3>Sensación de no haber vaciado completamente la vejiga</h3>
                <p>Si tienes la sensación de que no has vaciado completamente la vejiga después de orinar, esto puede ser un signo de problemas de próstata. La próstata agrandada puede obstruir el flujo de orina,
    </div>
    <link rel="stylesheet" href="../../footer.css">


    <footer>
        <div class="col">
            <a href="/">
                <img src="../../logo-lab.png" alt="">
            </a>
        </div>
        <div class="col">
            <h2>Enlaces</h2>
            <a href="/#inicio">Inicio</a>
            <a href="/#quienes-somos">Quienes Somos</a>
            <a href="/#cotizador">Cotizar</a>
            <a href="/#horario">Horarios</a>
            <a href="/#contact-form">Contacto</a>
            <a href="/#articulos">Artículos</a>
        </div>
    </footer>
    <script src="../../nav.js"></script>

</body>
</html>